.actionButton {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding: 0.75rem 1.5rem;
  background-color: rgb(0 107 179);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap: 10px;
  font-weight: 600;
  border: 3px solid rgba(255, 255, 255, 0.3);
  outline: none;
  overflow: hidden;
  font-size: 14px;
  cursor: pointer;
}

.actionButton:hover {
  transform: scale(1.05);
  border-color: rgba(255, 255, 255, 0.6);
}

.actionButton:hover .actionIcon {
  transform: translateX(4px);
}

.actionButton:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.actionButton::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }
  60% {
    left: 100%;
  }
  to {
    left: 100%;
  }
}

.actionIcon {
  width: 20px;
  height: 20px;
  transition: all 0.3s ease-in-out;
}
